# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=railoptic
DB_USERNAME=railoptic_user
DB_PASSWORD=railoptic_password

# Cloudflare R2 configuration
CF_R2_ACCOUNT_ID=
CF_R2_ACCESS_KEY_ID=
CF_R2_SECRET_ACCESS_KEY=
CF_R2_BUCKET_NAME=
CF_R2_PUBLIC_URL=

# Roboflow configuration
ROBOFLOW_WORKFLOW_URL=https://serverless.roboflow.com
ROBOFLOW_API_KEY=
ROBOFLOW_WORKFLOW_WORKSPACE=
ROBOFLOW_WORKFLOW_ID=
